extends layout

block content
	canvas#labels
	.branding
		#title In the Tweet of the Night
		#subtitle A Heat Map of the U.S.'s activity on twitter
		#byline by 
			a(href="http://twitter.com/codevinsky",target="_new") @codevinsky